<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/nes.icons@latest/css/nes-icons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./index.css">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
    </style>
    <script
      src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
      type="application/javascript"
    ></script>
  </head>
  <title>&#128176; Unlock treasure chest</title>

  <body>
    <div id="app">
      <div id="navbar">
        <!-- Navbar -->
        <div id="navbar-container">
          <button id="connect-wallet" class="nes-btn is-disabled" @click="init">
            {{ !user.account ? 'Connect to wallet' :
            humanizeWallet(user.account) }}
          </button>
          <span v-if="user.account" id="key-info" class="nes-text is-warning">&#128273; {{ user.balance }}</span>
        </div>
      </div>
      <div id="main">
        <h1>{{ greeting }}</h1>
        <div id="app-dialog">
          <div id="nft-list-section">
              <img id="nft-img" :src="token.uri"  v-for="token in vault.tokens" />
          </div>
          <div id="nft-unlock-section" v-if="user.account">
            <button
              id="unlock-nft"
              class="nes-btn is-primary"
              v-if="!unlockstates.show"
              @click="unlocknft"
            >
              <span>&#128275; My Random NFT</span>
            </button>
            <div id="nft-unlockstates-section" v-if="unlockstates.show">
              <span>{{ unlockstates.approve ? '&#9989;' : '&#11036;' }} Approve</span>
              <span
                >{{ unlockstates.increaseAllowance ? '&#9989;' : '&#11036;' }} Increase
                Spending</span
              >
              <span
                >{{ unlockstates.receivetoken ? '&#9989;' : '&#11036;' }} Receive
                Token</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
